{% set github_repository_name = REPOSITORY_PATH.split('/') | last %}# {{ github_repository_name }}

![build status](https://github.com/{{ REPOSITORY_PATH }}/actions/workflows/test.yml/badge.svg)
[![Coverage Status](https://coveralls.io/repos/github/{{ REPOSITORY_PATH }}/badge.svg?branch={{ GITHUB_REF }})](https://coveralls.io/github/{{ REPOSITORY_PATH }}?branch={{ GITHUB_REF }})
[![Testspace tests count](https://img.shields.io/testspace/total/{{ GITHUB_REPOSITORY_OWNER }}/{{ REPOSITORY_PATH | urlencode }}/main)](https://{{ GITHUB_REPOSITORY_OWNER }}.testspace.com/projects/{{ TESTSPACE_SPACE_ID }})
![NPM Version](https://img.shields.io/npm/v/{{ github_repository_name }})
![NPM Downloads](https://img.shields.io/npm/dw/{{ github_repository_name }})

<!-- Put your README description here -->

## Code Quality

All unit test executed on each branch/PR are listed/described on
[testspace](https://{{ REPOSITORY_PATH }}.testspace.com/projects/{{ TESTSPACE_SPACE_ID }}) and
on our [internal CI Report Repository](https://github.com/{{ REPOSITORY_PATH }}/{{ CI_REPORT_REPO_PATH }}/tree/main/{{ github_repository_name }}/).

Coverage information and history is also avalailable on [coveralls](https://coveralls.io/github/{{ REPOSITORY_PATH }})
and on our [internal CI Report Repository](https://github.com/{{ GITHUB_REPOSITORY_OWNER }}/{{ DEPLOYMENT_REPO_PATH }}/tree/main/{{ github_repository_name }}/).

The DevSecOps pipeline used on this project are documented on [this page](./.github/DevSecOps.md).
